.container {
	position: absolute;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

.image {
	position: absolute;
	height: 100vh;
	width: 300vw;
	background-repeat: repeat-x;
	background-size: cover;
	background-position: center;
}

.firstImg {
	background-image: url('../../assets/image/fog-1.png');
}

.secondImg {
	background-image: url('../../assets/image/fog-2.png');
}