.start,
.gameOver,
.win {
	height: 50%;
	width: 15%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 90%;
	box-shadow: inset rgb(0 0 0 / 50%) -3px -3px 8px, inset rgb(255 255 255 / 90%) 3px 3px 8px, rgb(0 0 0 / 80%) 3px 3px 8px -3px;
	margin: 1em auto;
	border: 3px solid #BDBDBD;
	border-radius: 10px;
	transition: all 0.3s ease 0s;
	cursor: pointer;
	z-index: 2;

	@media(max-width: 479px) {
		height: 40%;
		width: 15%;
	}
}

.start {
	background-image: url('/assets/image/start.png');
}

.gameOver {
	background-image: url('/assets/image/gameover.png');
}

.win {
	background-image: url('/assets/image/win.png');
}

.start:active,
.gameOver:active,
.win:active {
	transform: scale(0.95);
}

.start:focus,
.gameOver:focus,
.win:focus {
	outline: 0;
}