.closed {
	background-image: url("/assets/image/closed.png");
	background-size: cover;
	cursor: pointer;
}

.bombed {
	background-image: url('/assets/image/bombed.png');
	cursor: pointer;
}

.bomb {
	background-image: url('/assets/image/bomb.png');	
	cursor: pointer;
}

.zero {
	background-image: url('/assets/image/zero.png');
	cursor: pointer;
}

.one {
	background-image: url('/assets/image/num1.png');
	cursor: pointer;
}
.two {
	background-image: url('/assets/image/num2.png');
	cursor: pointer;
}

.three {
	background-image: url('/assets/image/num3.png');
	cursor: pointer;
}

.four {
	background-image: url('/assets/image/num4.png');
	cursor: pointer;
}

.five {
	background-image: url('/assets/image/num5.png');
	cursor: pointer;
}

.six {
	background-image: url('/assets/image/num6.png');
	cursor: pointer;
}

.seven {
	background-image: url('/assets/image/num7.png');
	cursor: pointer;
}

.eight {
	background-image: url('/assets/image/num8.png');
	cursor: pointer;
}

.flaged {
	background-image: url('/assets/image/flaged.png');
	cursor: pointer;
}