.container {
	height: 50%;
	width: 20%;
	box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
	border: 3px solid #BDBDBD;
	margin-left: 20px;
	text-align: center;
	background-color: #616161;
	color: #ffff22;
	font-family: 'Times New Roman';
	font-size: 40px;
	display:flex;
	justify-content: center;
	align-items: center;

	@media(max-width:479px) {
		font-size: 32px;
		height: 40%;
	}
}