@font-face {
	font-family: 'Nosifer';
	src: url('../../assets/fonts/Nosifer.woff2') format('woff2'),
		url('../../assets/fonts/Nosifer.woff') format('woff'),
		url('../../assets/fonts/Nosifer-Regular.ttf') format('ttf'); 
	font-weight: normal;
	font-style: normal;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 15px;
	font-family: 'Nosifer', sans-serif;
	font-weight: 700;
	font-size: 48px;
	margin-top: 15px;

	@media(max-width: 479px) {
		font-size: 36px;
	}
}