@font-face {
	font-family: 'Girassol';
	src: url('../../assets/fonts/Girassol-Regular.woff2') format('woff2'),
		url('../../assets/fonts/Girassol-Regular.woff') format('woff'),
		url('../../assets/fonts/Girassol-Regular.ttf') format('ttf'); 
	font-weight: normal;
	font-style: normal;
}
.heading {
	display: flex;
	gap: 10px;
	font-family:'Girassol', sans-serif;
	font-size: 45px;
	font-weight: 700;
	color: #424242;
	height: 65px;
	margin: 0;

	@media(max-width: 479px) {
		font-size: 35px;
	}
	
	div {
		position: relative;
	}
}