@font-face {
	font-family: 'Alfa Slab One';
	src: url('../../assets/fonts/AlfaSlabOne-Regular.woff2') format('woff2'),
		url('../../assets/fonts/AlfaSlabOne-Regular.woff') format('woff'),
		url('../../assets/fonts/AlfaSlabOne-Regular.ttf') format('ttf'); 
	font-weight: normal;
	font-style: normal;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
	font-family: 'Alfa Slab One', sans-serif;
	// font-weight: 700;
	font-size: 48px;
	// margin-top: 15px;
	height: 65px;
	position: absolute;
	top: 70px;
}