.container {
	display: grid;
	grid-template-columns: repeat(8, 50px);
	grid-template-rows: repeat(8, 50px);
	background-color: #e6e3e3;
	border: 10px solid #E0E0E0;
	box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
	max-width: max-content;
	
	@media(max-width: 479px) {
		grid-template-columns: repeat(8, 35px);
		grid-template-rows: repeat(8, 35px);
		gap: 2px;
		border: 5px solid #E0E0E0;
	}
}