.container {
	max-width: 420px;
}

.info {
	height: 100px;
	width: 400px;
	border: 10px solid #E0E0E0;
	margin-bottom: 2px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #E0E0E0;
	box-shadow: inset 2px 2px 5px rgb(154 147 140 / 50%), 1px 1px 5px rgb(255 255 255);
	
	@media(max-width: 479px) {
		width: 282px;
	}
}