.wrapper {
	height: 100vh;
	overflow: hidden;
	background-image: url('../../assets/image/gray_wall_wooden_floor.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	@media(min-width: 1440px) {
		background-position: 50% 83%;
	}
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	min-width: 320px;
	max-width: 1200px;
	margin: 150px auto;
}