.container {
	position: absolute;
	bottom: 100%;
	pointer-events: none;
	width: 40px;
	height: 50px;
	border-radius: 50%;
}

.stem {
	margin-left: 7px;
	width: 100%;
	height: 100%;
	border-radius: 50%;
}

